{% extends 'MiamBundle::base.html.twig' %}

{% block head_title %}
	{{ parent() }} - {{ "Manager"|trans({}, 'header') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	
	{% stylesheets "@MiamBundle/Resources/public/scss/manager.scss" filter='scss' output='css/manager.css' %}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet">
	{% endstylesheets %}
{% endblock %}

{% block body %}
	{% include 'MiamBundle:Default:header.html.twig' %}
	
	<section class="tab catsubs">
		<header>{{ "Categories & Subscriptions"|trans({}, 'manager') }}</header>
		<div class="content">
			<div class="buttons">
				<button class="createCategory">
					{{ "Create a category"|trans({}, 'manager') }}
				</button>

				<button class="createSubscription">
					{{ "Subscribe to a feed"|trans({}, 'manager') }}
				</button>

				<button class="exportOPML">
					{{ "Export OPML"|trans({}, 'manager') }}
				</button>

				<button class="importOPML">
					{{ "Import OPML"|trans({}, 'manager') }}
				</button>
			</div>

			<div class="tree">
				{% include 'MiamBundle:Manager:tree.html.twig' %}
			</div>
		</div>
	</section>

	<section class="tab settings">
		<header>{{ "Settings"|trans({}, 'manager') }}</header>
		<div class="content">
			<form method="POST" action="{{ path('manager_settings_update') }}">
				{{ "Show pictures:"|trans({}, 'manager') }}
				<select name="SHOW_ITEM_PICTURES">
					<option value="always" {{ app.user.setting('SHOW_ITEM_PICTURES') == 'always' ? 'selected' }}>
						{{ "Always"|trans }}
					</option>
					<option value="onclick" {{ app.user.setting('SHOW_ITEM_PICTURES') == 'onclick' ? 'selected' }}>
						{{ "On click"|trans }}
					</option>
					<option value="never" {{ app.user.setting('SHOW_ITEM_PICTURES') == 'never' ? 'selected' }}>
						{{ "Never"|trans }}
					</option>
				</select>

				<br><br>

				{{ "Show details:"|trans({}, 'manager') }}
				<select name="SHOW_ITEM_DETAILS">
					<option value="always" {{ app.user.setting('SHOW_ITEM_DETAILS') == 'always' ? 'selected' }}>
						{{ "Always"|trans }}
					</option>
					<option value="onclick" {{ app.user.setting('SHOW_ITEM_DETAILS') == 'onclick' ? 'selected' }}>
						{{ "On click"|trans }}
					</option>
				</select>

				<br><br>

				{{ "Publish my feeds:"|trans({}, 'manager') }} <input type="checkbox" name="IS_PUBLIC" value="1" {{ app.user.isPublic ? 'checked' }}>

				<br><br>

				{{ "Hide the sidebar:"|trans({}, 'manager') }} <input type="checkbox" name="HIDE_SIDEBAR" value="1" {{ app.user.setting('HIDE_SIDEBAR') ? 'checked' }}>

				<br><br>

				{{ "Theme:"|trans({}, 'manager') }}
				<select name="THEME">
					<option value="basic" {{ app.user.setting('THEME') == 'basic' ? 'selected' }}>{{ "Basic"|trans({}, 'manager') }}</option>
					<option value="dark" {{ app.user.setting('THEME') == 'dark' ? 'selected' }}>{{ "Dark"|trans({}, 'manager') }}</option>
				</select>

				<br><br>

				{{ "Date format:"|trans({}, 'manager') }}
				<select name="DATE_FORMAT">
					<option value="dmy" {{ app.user.setting('DATE_FORMAT') == 'dmy' ? 'selected' }}>
						{{ "dd/mm/yy"|trans({}, 'manager') }}
					</option>
					<option value="mdy" {{ app.user.setting('DATE_FORMAT') == 'mdy' ? 'selected' }}>
						{{ "mm/dd/yy"|trans({}, 'manager') }}
					</option>
					<option value="ymd" {{ app.user.setting('DATE_FORMAT') == 'ymd' ? 'selected' }}>
						{{ "yy/mm/dd"|trans({}, 'manager') }}
					</option>
				</select>

				<br><br>

				{{ "Language:"|trans({}, 'manager') }}
				<select name="LOCALE">
					{% if not app.user.locale %}
						<option>
							{{ "Default"|trans({}, 'manager') }}
						</option>
					{% endif %}
					<option value="en" {{ app.user.locale == 'en' ? 'selected' }}>
						{{ "English"|trans({}, 'manager') }}
					</option>
					<option value="fr" {{ app.user.locale == 'fr' ? 'selected' }}>
						{{ "French"|trans({}, 'manager') }}
					</option>
				</select>

				<br><br>

				<button type="submit">{{ "Update settings"|trans({}, 'manager') }}</button>

				<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_settings_update') }}">
			</form>
		</div>
	</section>

	<section class="tab password">
		<header>{{ "Password"|trans }}</header>
		<div class="content">
			<form method="POST" action="{{ path('manager_password_update') }}">
				<label for="current_password">{{ "Current password"|trans({}, 'manager') }}</label>
				<input type="password" id="current_password" name="current_password" placeholder="{{ "Current password"|trans({}, 'manager') }}" required>

				<br><br>

				<label for="new_password">{{ "New password"|trans({}, 'manager') }}</label>
				<input type="password" id="new_password" name="new_password" placeholder="{{ "New password"|trans({}, 'manager') }}" required>
				<input type="password" id="new_password_again" name="new_password_again" placeholder="{{ "Retype the password"|trans({}, 'manager') }}" required>

				<br><br>

				<button type="submit">{{ "Update password"|trans({}, 'manager') }}</button>

				<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_password_update') }}">
			</form>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/manager.js') }}"></script>

	<script type="text/javascript">
		app.manager.init();
	</script>
{% endblock %}