{% extends 'MiamBundle::base.html.twig' %}

{% block head_title %}
	{{ parent() }} - Manager
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	
	{% stylesheets "@MiamBundle/Resources/public/scss/manager.scss" filter='scss' output='css/manager.css' %}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet">
	{% endstylesheets %}
{% endblock %}

{% block body %}
	{% include 'MiamBundle:Default:header.html.twig' %}
	
	<section class="tab catsubs">
		<div class="header">
			Categories & Subscriptions
		</div>
		<div class="content">
			<div class="buttons">
				<button class="createCategory">
					Create a category
				</button>

				<button class="createSubscription">
					Subscribe to a feed
				</button>

				<button class="exportOPML">
					Export OPML
				</button>

				<button class="importOPML">
					Import OPML
				</button>
			</div>

			<div class="tree">
				{% include 'MiamBundle:Manager:tree.html.twig' %}
			</div>
		</div>
	</section>

	<section class="tab settings">
		<div class="header">
			Settings &amp; Password
		</div>
		<div class="content">
			<form method="POST" action="{{ path('manager_settings_update') }}">
				Show item pictures :
				<select name="SHOW_ITEM_PICTURES">
					<option value="always" {{ app.user.setting('SHOW_ITEM_PICTURES') == 'always' ? 'selected' }}>Always</option>
					<option value="onclick" {{ app.user.setting('SHOW_ITEM_PICTURES') == 'onclick' ? 'selected' }}>On click</option>
					<option value="never" {{ app.user.setting('SHOW_ITEM_PICTURES') == 'never' ? 'selected' }}>Never</option>
				</select>

				<br><br>

				Show item details :
				<select name="SHOW_ITEM_DETAILS">
					<option value="always" {{ app.user.setting('SHOW_ITEM_DETAILS') == 'always' ? 'selected' }}>Always</option>
					<option value="onclick" {{ app.user.setting('SHOW_ITEM_DETAILS') == 'onclick' ? 'selected' }}>On click</option>
				</select>

				<br><br>

				Publish my feeds : <input type="checkbox" name="IS_PUBLIC" value="1" {{ app.user.setting('IS_PUBLIC') ? 'checked' }}>

				<br><br>

				Hide the sidebar : <input type="checkbox" name="HIDE_SIDEBAR" value="1" {{ app.user.setting('HIDE_SIDEBAR') ? 'checked' }}>

				<br><br>

				Theme :
				<select name="THEME">
					<option value="basic" {{ app.user.setting('THEME') == 'basic' ? 'selected' }}>Basic</option>
					<option value="dark" {{ app.user.setting('THEME') == 'dark' ? 'selected' }}>Dark</option>
				</select>

				<br><br>

				<button type="submit">Update settings</button>

				<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_settings_update') }}">
			</form>

			<form class="password-form" method="POST" action="{{ path('manager_password_update') }}">
				<label for="current_password">Current password</label>
				<input type="password" id="current_password" name="current_password" placeholder="Current password" required>

				<br><br>

				<label for="new_password">New password</label>
				<input type="password" id="new_password" name="new_password" placeholder="New password" required>

				<br><br>

				<label for="new_password_again">New password (again)</label>
				<input type="password" id="new_password_again" name="new_password_again" placeholder="New password (again)" required>

				<br><br>

				<button type="submit">Update password</button>

				<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_password_update') }}">
			</form>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/manager.js') }}"></script>

	<script type="text/javascript">
		app.manager.init();
	</script>
{% endblock %}