{% extends 'MiamBundle::base.html.twig' %}

{% block head_title %}
	{{ parent() }} - {{ "header.manager"|trans({}, 'header') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/manager.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
	{% include 'MiamBundle:Default:header.html.twig' %}
	
	<section class="tab catsubs">
		<header>{{ "manager.catsubs"|trans({}, 'manager') }}</header>
		<div class="content">
			<div class="buttons">
				<button class="createCategory">
					{{ "manager.catsubs.create_category"|trans({}, 'manager') }}
				</button>

				<button class="createSubscription">
					{{ "manager.catsubs.subscribe_feed"|trans({}, 'manager') }}
				</button>

				<button class="exportOPML">
					{{ "manager.catsubs.export_opml"|trans({}, 'manager') }}
				</button>

				<button class="importOPML">
					{{ "manager.catsubs.import_opml"|trans({}, 'manager') }}
				</button>
			</div>

			<div class="tree">
				{% include 'MiamBundle:Manager:tree.html.twig' %}
			</div>
		</div>
	</section>

	<section class="tab settings">
		<header>{{ "manager.settings"|trans({}, 'manager') }}</header>
		<div class="content">
			<form method="POST" action="{{ path('manager_settings_update') }}">
				{{ "manager.settings.show_item_pictures"|trans({}, 'manager') }}
				<select name="SHOW_ITEM_PICTURES">
					<option value="always" {{ app.user.setting('SHOW_ITEM_PICTURES') == 'always' ? 'selected' }}>
						{{ "manager.settings.show_item_pictures.always"|trans({}, 'manager') }}
					</option>
					<option value="onclick" {{ app.user.setting('SHOW_ITEM_PICTURES') == 'onclick' ? 'selected' }}>
						{{ "manager.settings.show_item_pictures.onclick"|trans({}, 'manager') }}
					</option>
					<option value="never" {{ app.user.setting('SHOW_ITEM_PICTURES') == 'never' ? 'selected' }}>
						{{ "manager.settings.show_item_pictures.never"|trans({}, 'manager') }}
					</option>
				</select>

				<br><br>

				{{ "manager.settings.show_item_details"|trans({}, 'manager') }}
				<select name="SHOW_ITEM_DETAILS">
					<option value="always" {{ app.user.setting('SHOW_ITEM_DETAILS') == 'always' ? 'selected' }}>
						{{ "manager.settings.show_item_details.always"|trans({}, 'manager') }}
					</option>
					<option value="onclick" {{ app.user.setting('SHOW_ITEM_DETAILS') == 'onclick' ? 'selected' }}>
						{{ "manager.settings.show_item_details.onclick"|trans({}, 'manager') }}
					</option>
				</select>

				<br><br>

				{{ "manager.settings.hide_sidebar"|trans({}, 'manager') }}
				<input type="checkbox" name="HIDE_SIDEBAR" value="1" {{ app.user.setting('HIDE_SIDEBAR') ? 'checked' }}>

				<br><br>

				{{ "manager.settings.theme"|trans({}, 'manager') }}
				<select name="THEME">
					<option value="basic" {{ app.user.setting('THEME') == 'basic' ? 'selected' }}>
						{{ "manager.settings.theme.basic"|trans({}, 'manager') }}
					</option>
					<option value="dark" {{ app.user.setting('THEME') == 'dark' ? 'selected' }}>
						{{ "manager.settings.theme.dark"|trans({}, 'manager') }}
					</option>
				</select>

				<br><br>

				{{ "manager.settings.font_size"|trans({}, 'manager') }}
				{% set sizes = {
					'manager.settings.font_size.very_small': 7, 
					'manager.settings.font_size.small': 8, 
					'manager.settings.font_size.smaller': 9, 
					'manager.settings.font_size.normal': 10, 
					'manager.settings.font_size.bigger': 12, 
					'manager.settings.font_size.big': 14, 
					'manager.settings.font_size.very_big': 18 
				} %}
				<select name="FONT_SIZE">
					{% set userSize = app.user.setting('FONT_SIZE') %}
					{% for key,value in sizes %}
						<option value="{{ value }}" {{ userSize == value or (value == 10 and userSize not in sizes) ? 'selected' }}>
							{{ key|trans({}, 'manager') }}
						</option>
					{% endfor %}
				</select>

				<br><br>

				{{ "manager.settings.font_family"|trans({}, 'manager') }}
				{% set families = {
					'arial': "Arial",
					'courier-new': "Courier New",
					'fira-sans': "Fira Sans",
					'georgia': "Georgia",
					'lato': "Lato",
					'open-sans': "Open Sans",
					'times-new-roman': "Times New Roman",
					'ubuntu': "Ubuntu",
					'verdana': "Verdana"
				} %}
				<select name="FONT_FAMILY">
					{% for key,value in families %}
						<option value="{{ key }}" {{ app.user.setting('FONT_FAMILY') == key ? 'selected' }}>
							{{ value }}
						</option>
					{% endfor %}
				</select>
				
				<br><br>

				{{ "manager.settings.date_format"|trans({}, 'manager') }}
				<select name="DATE_FORMAT">
					<option value="dmy" {{ app.user.setting('DATE_FORMAT') == 'dmy' ? 'selected' }}>
						{{ "manager.settings.date_format.dmy"|trans({}, 'manager') }}
					</option>
					<option value="mdy" {{ app.user.setting('DATE_FORMAT') == 'mdy' ? 'selected' }}>
						{{ "manager.settings.date_format.mdy"|trans({}, 'manager') }}
					</option>
					<option value="ymd" {{ app.user.setting('DATE_FORMAT') == 'ymd' ? 'selected' }}>
						{{ "manager.settings.date_format.ymd"|trans({}, 'manager') }}
					</option>
				</select>

				<br><br>

				{{ "manager.settings.language"|trans({}, 'manager') }}
				<select name="LOCALE">
					{% if not app.user.locale %}
						<option>
							{{ "manager.settings.language.default"|trans({}, 'manager') }}
						</option>
					{% endif %}
					<option value="en" {{ app.user.locale == 'en' ? 'selected' }}>
						{{ "manager.settings.language.en"|trans({}, 'manager') }}
					</option>
					<option value="fr" {{ app.user.locale == 'fr' ? 'selected' }}>
						{{ "manager.settings.language.fr"|trans({}, 'manager') }}
					</option>
				</select>

				<br><br>

				{{ "manager.settings.timezone"|trans({}, 'manager') }}
				<select name="TIMEZONE">
					{% for timezone in timezones %}
						<option value="{{ timezone }}" {{ timezone == app.user.setting('TIMEZONE') ? 'selected' }}>
							{{ timezone }}
						</option>
					{% endfor %}
				</select>

				<br><br>

				<button type="submit">{{ "manager.settings.update"|trans({}, 'manager') }}</button>

				<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_settings_update') }}">
			</form>
		</div>
	</section>

	<section class="tab password">
		<header>{{ "manager.password"|trans({}, 'manager') }}</header>
		<div class="content">
			<form method="POST" action="{{ path('manager_password_update') }}">
				<label for="current_password">
					{{ "manager.password.current"|trans({}, 'manager') }}
				</label>
				<input type="password" id="current_password" name="current_password" placeholder="{{ "manager.password.current"|trans({}, 'manager') }}" required>

				<br><br>

				<label for="new_password">
					{{ "manager.password.new"|trans({}, 'manager') }}
				</label>
				<input type="password" id="new_password" name="new_password" placeholder="{{ "manager.password.new"|trans({}, 'manager') }}" required>
				<input type="password" id="new_password_again" name="new_password_again" placeholder="{{ "manager.password.new2"|trans({}, 'manager') }}" required>

				<br><br>

				<button type="submit">{{ "manager.password.update"|trans({}, 'manager') }}</button>

				<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_password_update') }}">
			</form>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/manager.js') }}"></script>

	<script type="text/javascript">
		app.manager.init();
	</script>
{% endblock %}