{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupContainerClass %}newSubscription{% endblock %}

{% block popupTitle %}{{ "manager.catsubs.new_sub"|trans({}, 'manager') }}{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('manager_subscription_create') }}">
		<label for="name">{{ "manager.catsubs.new_sub.name.label"|trans({}, 'manager') }}</label>
		<input type="text" id="name" name="name" placeholder="{{ "manager.catsubs.new_sub.name.placeholder"|trans({}, 'manager') }}">

		<br>

		<label for="url">{{ "manager.catsubs.new_sub.url.label"|trans({}, 'manager') }}</label>
		<input type="text" id="url" name="url" placeholder="{{ "manager.catsubs.new_sub.url.placeholder"|trans({}, 'manager') }}" required>

		<br>

		{% if categories|length > 0 %}
			<label>{{ "manager.catsubs.new_sub.category.label"|trans({}, 'manager') }}</label>
			<select name="category">
				<option></option>
				{% for c in categories %}
					<option value="{{ c.id }}">{{ c.path }}</option>
				{% endfor %}
			</select>

			<br>
		{% endif %}

		<button type="submit">{{ "manager.catsubs.new_sub.create"|trans({}, 'manager') }}</button>

		<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_subscription_save') }}">
	</form>
{% endblock %}