{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupContainerClass %}newSubscription{% endblock %}

{% block popupTitle %}New subscription{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('manager_subscription_create') }}">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name">

		<br>

		<label for="url">URL:</label>
		<input type="text" id="url" name="url" required>

		<br>

		{% if categories|length > 0 %}
			<label>Categories:</label>
			<div class="categories">
				{% for c in categories %}
					<div class="category">
						<input id="newSubCat{{ c.id }}" type="checkbox" name="categories[]" value="{{ c.id }}">
						<label for="newSubCat{{ c.id }}">{{ c.path }}</label>
					</div>
				{% endfor %}
			</div>

			<br>
		{% endif %}

		<button type="submit">Create</button>

		<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_subscription_save') }}">
	</form>
{% endblock %}