{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupTitle %}{{ "New category"|trans({}, 'manager') }}{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('manager_category_create') }}">
		<label for="name">{{ "Name:"|trans({}, 'manager') }}</label>
		<input type="text" id="name" name="name" required>

		<br>

		{% if categories|length > 0 %}
			<label for="parent">{{ "Parent:"|trans({}, 'manager') }}</label>
			<select id="parent" name="parent">
				<option></option>
				{% for c in categories %}
					<option value="{{ c.id }}">{{ c.path }}</option>
				{% endfor %}
			</select>

			<br>
		{% endif %}

		<button type="submit">{{ "Create"|trans }}</button>

		<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_category_save') }}">
	</form>
{% endblock %}