{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupContainerClass %}editCategory{% endblock %}

{% block popupTitle %}Edit "{{ category.name }}"{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('manager_category_update', {'id': category.id}) }}">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" value="{{ category.name }}" required>

		<br><br>

		<label for="parent">Parent:</label>
		<select id="parent" name="parent">
			<option></option>
			{% for c in categories %}
				<option value="{{ c.id }}" {{ category.parent and category.parent.id == c.id ? "selected" }}>
					{{ c.path }}
				</option>
			{% endfor %}
		</select>

		<br><br>

		<label>Subscriptions:</label>
		<div class="subscriptions">
			{% for s in subscriptions %}
				<div class="subscription">
					<input type="checkbox" name="subscriptions[]" value="{{ s.id }}" {{ s in category.subscriptions ? "checked" }}>
					{{ s.name ?: s.feed.url }}
				</div>
			{% endfor %}
		</div>

		<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_category_save') }}">

		<br>

		<button type="submit">Update</button>
	</form>
{% endblock %}