{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupTitle %}{{ "manager.catsubs.delete_sub"|trans({}, 'manager') }}{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('manager_subscription_delete', {'id': subscription.id}) }}">
		{{ "manager.catsubs.delete_sub.text"|trans({'%subscription%': subscription.name }, 'manager') }}

		<br><br>

		<button type="submit">{{ "manager.catsubs.delete_sub.yes"|trans({}, 'manager') }}</button>
		<button class="closePopup" type="button">{{ "manager.catsubs.delete_sub.no"|trans({}, 'manager') }}</button>

		<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_subscription_delete') }}">
	</form>
{% endblock %}