{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupContainerClass %}editCategory{% endblock %}

{% block popupTitle %}{{ "manager.catsubs.edit_category.edit"|trans({}, 'manager') }} "{{ category.name }}"{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('manager_category_update', {'id': category.id}) }}">
		<label for="name">
			{{ "manager.catsubs.edit_category.name.label"|trans({}, 'manager') }}
		</label>
		<input type="text" id="name" name="name" value="{{ category.name }}" placeholder="{{ "manager.catsubs.edit_category.name.placeholder"|trans({}, 'manager') }}" required>

		<br>

		{% if categories|length > 0 %}
			<label for="parent">{{ "manager.catsubs.edit_category.parent.label"|trans({}, 'manager') }}</label>
			<select id="parent" name="parent">
				<option></option>
				{% for c in categories %}
					<option value="{{ c.id }}" {{ category.parent and category.parent.id == c.id ? "selected" }}>
						{{ c.path }}
					</option>
				{% endfor %}
			</select>

			<br>
		{% endif %}

		<button type="submit">{{ "manager.catsubs.edit_category.update"|trans({}, 'manager') }}</button>

		<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_category_save') }}">
	</form>
{% endblock %}