{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupContainerClass %}editCategory{% endblock %}

{% block popupTitle %}{{ "Edit"|trans }} "{{ category.name }}"{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('manager_category_update', {'id': category.id}) }}">
		<label for="name">{{ "Name:"|trans({}, 'manager') }}</label>
		<input type="text" id="name" name="name" value="{{ category.name }}" required>

		<br>

		{% if categories|length > 0 %}
			<label for="parent">{{ "Parent:"|trans({}, 'manager') }}</label>
			<select id="parent" name="parent">
				<option></option>
				{% for c in categories %}
					<option value="{{ c.id }}" {{ category.parent and category.parent.id == c.id ? "selected" }}>
						{{ c.path }}
					</option>
				{% endfor %}
			</select>

			<br>
		{% endif %}

		{% if subscriptions|length > 0 %}
			<label>{{ "Subscriptions:"|trans({}, 'manager') }}</label>
			<div class="subscriptions">
				{% for s in subscriptions %}
					<div class="subscription">
						<input id="editCatSub{{ s.id }}" type="checkbox" name="subscriptions[]" value="{{ s.id }}" {{ s in category.subscriptions ? "checked" }}>
						<label for="editCatSub{{ s.id }}">{{ s.name ?: s.feed.url }}</label>
					</div>
				{% endfor %}
			</div>

			<br>
		{% endif %}

		<button type="submit">{{ "Update"|trans }}</button>

		<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_category_save') }}">
	</form>
{% endblock %}