{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupTitle %}{{ category.name }}{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('manager_category_delete', {'id': category.id}) }}">
		{{ "manager.catsubs.delete_category.text"|trans({}, 'manager') }}

		<br><br>

		<button type="submit">{{ "manager.catsubs.delete_category.yes"|trans({}, 'manager') }}</button>
		<button class="closePopup" type="button">{{ "manager.catsubs.delete_category.no"|trans({}, 'manager') }}</button>

		<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_category_delete') }}">
	</form>
{% endblock %}