{% extends "MiamBundle:Default:popup.html.twig" %}

{% block popupTitle %}{{ "Unsubscribe"|trans }}{% endblock %}

{% block popupContent %}
	<form method="POST" action="{{ path('manager_subscription_delete', {'id': subscription.id}) }}">
		{{ "Unsubscribe from"|trans({}, 'manager') }} "{{ subscription.name }}" ?

		<br><br>

		<button type="submit">{{ "Yes"|trans }}</button>
		<button class="closePopup" type="button">{{ "No"|trans }}</button>

		<input type="hidden" name="csrf_token" value="{{ csrf_token('manager_subscription_delete') }}">
	</form>
{% endblock %}