{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=width, initial-scale=1">
		<title>
			{% block head_title %}
				Miam
				{% if app.environment == 'dev' %}
					- Dev
				{% endif %}
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('favicon.ico') }}" />
		
		{% stylesheets "@MiamBundle/Resources/public/css/*.css" %}
			<link href="{{ asset_url }}" type="text/css" rel="stylesheet">
		{% endstylesheets %}

		{% block stylesheets %}
			{% stylesheets "@MiamBundle/Resources/public/scss/main.scss" filter='scss' output='css/main.css' %}
				<link href="{{ asset_url }}" type="text/css" rel="stylesheet">
			{% endstylesheets %}
		{% endblock %}
	</head>
	<body>
		<noscript>Y U DO THAT TO ME !? PLEASE DISABLE NOSCRIPT ! :-(</noscript>

		{% block body %}{% endblock %}
		
		<div class="flashMessages">
			{% set fmTypes = ["success", "notice", "warning", "error"] %}

			{% for type in fmTypes %}
				{% for fm in app.session.flashbag.get(type) %}
					<div class="flashMessageContainer">
						<div class="flashMessage {{ type }}">{{ fm }}</div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>

		{% if not app.user and route != "login" %}
			{% include "MiamBundle:Security:popup_login.html.twig" %}

			{% include "MiamBundle:Security:popup_register.html.twig" %}
		{% endif %}

		{% block javascripts %}
			{% javascripts
				"@MiamBundle/Resources/public/js/jquery.js"
				"@MiamBundle/Resources/public/js/main.js"
				"@MiamBundle/Resources/public/js/items.js"
			%}
				<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}

			<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

			<script type="text/javascript">
				app.preInit = function() {
					app.dateLoaded = '{{ "now"|date("Y-m-d H:i:s") }}';

					{% if app.user %}
						app.user = { 'id': {{ app.user.id }} };
					{% else %}
						app.user = false;
					{% endif %}
				}
			</script>
		{% endblock %}
	</body>
</html>