{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html class="{{ app.user and app.user.setting('FONT_SIZE') ? 'fs' ~ app.user.setting('FONT_SIZE') }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="RSS agregator">
		<title>
			{% block head_title %}
				Miam
				{% if app.environment == 'dev' %}
					- Dev
				{% endif %}
			{% endblock %}
		</title>
		<link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png">
		
		{% block stylesheets %}
			<link href="{{ asset('css/fonts/font-awesome.css') }}" type="text/css" rel="stylesheet">

			{% if app.user and app.user.setting('FONT_FAMILY') in ['fire-sans', 'lato', 'open-sans', 'ubuntu'] %}
				<link href="{{ asset('css/fonts/' ~ app.user.setting('FONT_FAMILY') ~ '.css') }}" type="text/css" rel="stylesheet">
			{% elseif not app.user %}
				<link href="{{ asset('css/fonts/open-sans.css') }}" type="text/css" rel="stylesheet">
			{% endif %}

			<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet">
		{% endblock %}
	</head>
	<body class="
		{{ app.user and app.user.setting('THEME') ? 'theme-' ~ app.user.setting('THEME') }}
		{{ app.user and app.user.setting('FONT_FAMILY') ? 'ff-' ~ app.user.setting('FONT_FAMILY') }}
		{% block bodyClasses %}{% endblock %}
	">
		{% block body %}{% endblock %}
		
		{% if app.session.flashbag.peekAll|length > 0 %}
			<div class="flashMessages">
				{% for fType, fMessages in app.session.flashbag.all %}
					{% for fMessage in fMessages %}
						<div class="flashMessageContainer">
							<div class="flashMessage {{ fType }}">
								{{ fMessage }}
								<span class="flashMessageClose">
									<i class="fa fa-times"></i>
								</span>
							</div>
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		{% endif %}

		{% block javascripts %}
			<script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>

			<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

			<script type="text/javascript">
				app.preInit = function() {
					app.dateLoaded = '{{ "now"|date(constant("DATE_ATOM")) }}';
				}
			</script>
		{% endblock %}

		<!-- (╯°□°）╯︵ ┻━┻ -->
		<noscript>Please enable JavaScript in your browser.</noscript>
	</body>
</html>