{% extends 'MiamBundle::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/admin.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block bodyClasses %}adminFeeds{% endblock %}

{% macro pagination(countPages, page) %}
	<div class="pagination">
		{% if countPages <= 10 %}
			{% for p in 1..countPages %}
				<a class="page {{ p == page ? 'current' }}" href="{{ path('admin_feeds', {'page': p}) }}">{{ p }}</a>
			{% endfor %}
		{% else %}
			<form method="GET">
				<p>
					{% if page > 1 %}
						<a class="page" href="{{ path('admin_feeds', {'page': 1}) }}">&lt;&lt;</a>
						<a class="page" href="{{ path('admin_feeds', {'page': page - 1}) }}">&lt;</a>
					{% endif %}

					<select name="page">
						{% for p in 1..countPages %}
							<option value="{{ p }}" {{ p == page ? 'selected' }}>
								{{ p }}
							</option>
						{% endfor %}
					</select>

					{% if page < countPages %}
						<a class="page" href="{{ path('admin_feeds', {'page': page + 1}) }}">&gt;</a>
						<a class="page" href="{{ path('admin_feeds', {'page': countPages}) }}">&gt;&gt;</a>
					{% endif %}
				</p>

				<p><button type="submit">Go</button></p>
			</form>
		{% endif %}
	</div>
{% endmacro %}

{% import _self as macros %}

{% block body %}
	{% include 'MiamBundle:Default:header.html.twig' %}
	
	<h1>Feeds</h1>

	<div class="forms">
		{{ form_start(createFeedForm) }}
		{{ form_widget(createFeedForm.url, {'attr': {'placeholder': "URL"}}) }}
		{{ form_widget(createFeedForm.submit, {'label': "admin.add"|trans({}, 'admin')}) }}
		{{ form_end(createFeedForm) }}

		<br>

		<a href="{{ path('admin_feeds_export') }}"><button>{{ "admin.export_feeds"|trans({}, 'admin') }}</button></a>
	
		<button class="importFeeds">{{ "admin.import_feeds"|trans({}, 'admin') }}</button>
	</div>

	{% if countPages > 1 %}
		{{ macros.pagination(countPages, page) }}
	{% endif %}

	{% if feeds|length > 0 %}
		<table>
			<tr>
				<th></th>
				<th></th>
				<th class="name">{{ "admin.name"|trans({}, 'admin') }}</th>
				<th>{{ "admin.count_items"|trans({}, 'admin') }}</th>
				<th>{{ "admin.count_subscriptions"|trans({}, 'admin') }}</th>
			</tr>
			{% for feed in feeds %}
				<tr class="feed" data-feed="{{ feed.id }}">
					<td><a href="{{ feed.url }}"><i class="fa fa-link"></i></a></td>
					<td class="icon">
						{% if feed.hasIcon %}
							<img src="{{ asset(feed.icon) }}" alt="">
						{% endif %}
					</td>
					<td class="name" title="{{ feed.name }}">
						{% if feed.errorCount > 0 %}
							<i class="errors fa fa-warning" title="{{ feed.errorMessage }}"></i>
						{% endif %}

						<a href="{{ path('admin_feed', {'id': feed.id}) }}" title="{{ feed.name ? feed.name ~ ' - ' ~ feed.url : feed.url }}">
							{{ feed.name ?: feed.url }}
						</a>
					</td>
					<td class="items">{{ itemsPerFeed[feed.id] }}</td>
					<td class="subscriptions">{{ subscriptionsPerFeed[feed.id] }}</td>
					<td class="parser">
						<button class="parse" title="{{ "admin.parse"|trans({}, 'admin') }}">
							<i class="fa fa-refresh"></i>
						</button>
						<button class="parsing" title="{{ "admin.parsing"|trans({}, 'admin') }}">
							<i class="fa fa-refresh fa-spin"></i>
						</button>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>No feed</p>
	{% endif %}

	{% if countPages > 1 %}
		{{ macros.pagination(countPages, page) }}
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(".importFeeds").on("click", function() {
			$.ajax({
				type: "POST",
				url: Routing.generate("ajax_admin_popup_feeds_import"),
				dataType: "json"
			}).done(function(result) {console.log(42);
				if(result.success) {
					$("body").append(result.html);
					app.popup.init();
				}
			});
		});

		$(".feed .parser .parse").click(function() {
			var feedId = $(this).closest(".feed").data('feed');

			$(this).hide();
			$(this).siblings(".parsing").show();

			$.ajax({
				type: "POST",
				url: Routing.generate('ajax_admin_feed_parse', {id: feedId}, true),
				dataType: "json",
				complete: function() {
					$(".feed[data-feed="+feedId+"] .parser .parse").show();
					$(".feed[data-feed="+feedId+"] .parser .parsing").hide();
				}
			});
		});
	</script>
{% endblock %}