{% extends 'MiamBundle::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/admin.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block bodyClasses %}adminIndex{% endblock %}

{% block body %}
	{% include 'MiamBundle:Default:header.html.twig' %}

	<p class="header">
		Feeds: {{ countFeeds }}
		-
		Items: {{ countItems }}
		-
		Tags: {{ countTags }}
		<br>
		<a href="{{ path('admin_feeds') }}">Manage feeds</a>
	</p>

	<div class="blocks">
		{% if lastFeeds|length > 0 %}
			<table class="block lastFeeds">
				<tr>
					<th>Recent feed</th>
					<th>Date added</th>
				</tr>
				{% for feed in lastFeeds %}
					<tr>
						<td title="{{ feed.name ?: feed.url }}">
							<a href="{{ path('admin_feed', {'id': feed.id}) }}">
								{{ feed.name ? feed.name|shorten(60) : feed.url|shorten(80) }}
							</a>
						</td>
						<td title="{{ feed.dateCreated|date(constant('DATE_ATOM')) }}">
							{{ feed.dateCreated|date('Y-m-d') }}
						</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}

		{% if mostActiveFeeds|length > 0 %}
			<table class="block activeFeeds">
				<tr>
					<th>Active feed</th>
					<th>Items/Day</th>
				</tr>
				{% for feed in mostActiveFeeds %}
					<tr>
						<td title="{{ feed.name ?: feed.url }}">
							<a href="{{ path('admin_feed', {'id': feed.id}) }}">
								{{ feed.name ? feed.name|shorten(60) : feed.url|shorten(80) }}
							</a>
						</td>
						<td>{{ feed.countDailyItems }}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}

		{% if mostSubscribedFeeds|length > 0 %}
			<table class="block subscribedFeeds">
				<tr>
					<th>Subscribed feed</th>
					<th>Subscribers</th>
				</tr>
				{% for f in mostSubscribedFeeds %}
					{% set feed = f[0] %}
					<tr>
						<td title="{{ feed.name ?: feed.url }}">
							<a href="{{ path('admin_feed', {'id': feed.id}) }}">
								{{ feed.name ? feed.name|shorten(60) : feed.url|shorten(80) }}
							</a>
						</td>
						<td>{{ f['countSubscriptions'] }}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}

		{% if errorFeeds|length > 0 %}
			<table class="block errorFeeds">
				<tr>
					<th>Feed with errors</th>
					<th>Errors</th>
				</tr>
				{% for feed in errorFeeds %}
					<tr>
						<td title="{{ feed.name ?: feed.url }}">
							<a href="{{ path('admin_feed', {'id': feed.id}) }}">
								{{ feed.name ? feed.name|shorten(60) : feed.url|shorten(80) }}
							</a>
						</td>
						<td title="{{ feed.errorMessage }}">{{ feed.errorCount }}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}

		{% if mostPopularTags|length > 0 %}
			<table class="block popularTags">
				<tr>
					<th>Popular tag</th>
					<th>Items</th>
				</tr>
				{% for t in mostPopularTags %}
					{% set tag = t[0] %}
					<tr>
						<td title="{{ tag.name }}">
							{{ tag.name|shorten(60) }}
						</td>
						<td>{{ t.countItems }}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</div>
{% endblock %}
