{% extends 'MiamBundle::base.html.twig' %}

{% block body %}
	{% include 'MiamBundle:Default:header.html.twig' %}

	{{ form_start(createFeedForm) }}
	{{ form_widget(createFeedForm.url) }}
	{{ form_widget(createFeedForm.submit) }}
	{{ form_end(createFeedForm) }}

	<table>
		<tr>
			<th></th>
			<th class="name">Name</th>
			<th class="url">URL</th>
			<th>Catalog</th>
		</tr>
		{% for feed in feeds %}
			<tr class="feed {{ feed.isCatalog ? "catalog" }}" data-feed="{{ feed.id }}">
				<td class="icon">
					{% if feed.hasIcon %}
						<img src="{{ asset(feed.icon) }}" alt="">
					{% endif %}
				</td>
				<td class="name" title="{{ feed.name }}">
					{% if feed.errorCount > 0 %}
						<i class="errors fa fa-warning" title="{{ feed.errorMessage }}"></i>
					{% endif %}

					{% if feed.website %}
						<a href="{{ feed.website }}">{{ feed.name|shorten(40) }}</a>
					{% else %}
						{{ feed.name|shorten(40) }}
					{% endif %}
				</td>
				<td title="{{ feed.url }}">
					<a href="{{ feed.url }}">{{ feed.url|shorten(60) }}</a>
				</td>
				<td class="catalog">
					<button class="addToCatalog" title="Add to catalog">
						<i class="fa fa-plus"></i>
					</button>
					<button class="removeFromCatalog" title="Remove from catalog">
						<i class="fa fa-minus"></i>
					</button>
				</td>
				<td class="parse">
					<button title="Parse">
						Parse
					</button>
				</td>
				<td class="delete">
					<button title="Delete">
						<i class="fa fa-times"></i>
					</button>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<style>
		form {
			padding:10px 15px;
		}

		table {
			width:100%;
		}

		table th.name, table th.url {
			text-align:left;
		}

		.feed .removeFromCatalog {
			display:none;
		}

		.feed.catalog .addToCatalog {
			display:none;
		}

		.feed.catalog .removeFromCatalog {
			display:inline-block;
		}

		.feed .name i.errors {
			color:red;
			margin-right:2px;
		}

		.feed td.icon, .feed td.catalog, .feed td.parse, .feed td.delete {
			text-align:center;
		}
	</style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(".feed .addToCatalog").click(function() {
			var feedId = $(this).closest(".feed").data('feed');

			$.ajax({
				type: "POST",
				url: Routing.generate('ajax_admin_catalog_feed_add', {id: feedId}, true),
				dataType: "json",
				success: function(result) {
					if(result.success) {
						$(".feed[data-feed="+feedId+"]").addClass("catalog");
					}
				}
			});
		});

		$(".feed .removeFromCatalog").click(function() {
			var feedId = $(this).closest(".feed").data('feed');

			$.ajax({
				type: "POST",
				url: Routing.generate('ajax_admin_catalog_feed_remove', {id: feedId}, true),
				dataType: "json",
				success: function(result) {
					if(result.success) {
						$(".feed[data-feed="+feedId+"]").removeClass("catalog");
					}
				}
			});
		});

		$(".feed .parse button").click(function() {
			var feedId = $(this).closest(".feed").data('feed');

			if(!$(this).closest(".feed").hasClass("parsing")) {
				$(this).closest(".feed").addClass("parsing");
				$(this).text("...");

				$.ajax({
					type: "POST",
					url: Routing.generate('ajax_admin_feed_parse', {id: feedId}, true),
					dataType: "json",
					complete: function() {
						$(".feed[data-feed="+feedId+"]").removeClass("parsing");
						$(".feed[data-feed="+feedId+"] .parse").text("Parse");
					}
				});
			}
		});

		$(".feed .delete button").on("click", function() {
			var feedId = $(this).closest(".feed").data('feed');
			
			if(confirm("Delete the feed and everything related ?")) {
				$.ajax({
					type: "POST",
					url: Routing.generate('ajax_admin_feed_delete', {id: feedId}, true),
					dataType: "json",
					success: function(result) {
						if(result.success) {
							$(".feed[data-feed="+feedId+"]").remove();
						}
					}
				});
			}
		});
	</script>
{% endblock %}