{% extends 'MiamBundle::base.html.twig' %}

{% block body %}
	{% include 'MiamBundle:Default:header.html.twig' %}

	{{ form_start(createFeedForm) }}
	{{ form_widget(createFeedForm.url, {'attr': {'placeholder': "URL"}}) }}
	{{ form_widget(createFeedForm.submit, {'label': "admin.add"|trans({}, 'admin')}) }}
	{{ form_end(createFeedForm) }}

	<table>
		<tr>
			<th></th>
			<th class="name">{{ "admin.name"|trans({}, 'admin') }}</th>
			<th class="url">URL</th>
		</tr>
		{% for feed in feeds %}
			<tr class="feed" data-feed="{{ feed.id }}">
				<td class="icon">
					{% if feed.hasIcon %}
						<img src="{{ asset(feed.icon) }}" alt="">
					{% endif %}
				</td>
				<td class="name" title="{{ feed.name }}">
					{% if feed.errorCount > 0 %}
						<i class="errors fa fa-warning" title="{{ feed.errorMessage }}"></i>
					{% endif %}

					{% if feed.website %}
						<a href="{{ feed.website }}">{{ feed.name|shorten(40) }}</a>
					{% else %}
						{{ feed.name|shorten(40) }}
					{% endif %}
				</td>
				<td title="{{ feed.url }}">
					<a href="{{ feed.url }}">{{ feed.url|shorten(60) }}</a>
				</td>
				<td class="parser">
					<button class="parse" title="{{ "admin.parse"|trans({}, 'admin') }}">
						{{ "admin.parse"|trans({}, 'admin') }}
					</button>
					<button class="parsing" title="{{ "admin.parsing"|trans({}, 'admin') }}">
						{{ "admin.parsing"|trans({}, 'admin') }}
					</button>
				</td>
				<td class="delete">
					<button title="{{ "admin.delete"|trans({}, 'admin') }}">
						<i class="fa fa-times"></i>
					</button>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<style>
		form {
			padding:10px 15px;
		}

		table {
			width:100%;
		}

		table th.name, table th.url {
			text-align:left;
		}

		.feed .name i.errors {
			color:red;
			margin-right:2px;
		}

		.feed .parser .parsing {
			display:none;
		}

		.feed td.icon, .feed td.parser, .feed td.delete {
			text-align:center;
		}
	</style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(".feed .parser .parse").click(function() {
			var feedId = $(this).closest(".feed").data('feed');

			$(this).hide();
			$(this).siblings(".parsing").show();

			$.ajax({
				type: "POST",
				url: Routing.generate('ajax_admin_feed_parse', {id: feedId}, true),
				dataType: "json",
				complete: function() {
					$(".feed[data-feed="+feedId+"] .parser .parse").show();
					$(".feed[data-feed="+feedId+"] .parser .parsing").hide();
				}
			});
		});

		$(".feed .delete button").on("click", function() {
			var feedId = $(this).closest(".feed").data('feed');
			
			if(confirm("Delete the feed and everything related ?")) {
				$.ajax({
					type: "POST",
					url: Routing.generate('ajax_admin_feed_delete', {id: feedId}, true),
					dataType: "json",
					success: function(result) {
						if(result.success) {
							$(".feed[data-feed="+feedId+"]").remove();
						}
					}
				});
			}
		});
	</script>
{% endblock %}