{% extends 'MiamBundle::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets "@MiamBundle/Resources/public/scss/login.scss" filter='scss' output='css/login.css' %}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet">
	{% endstylesheets %}
{% endblock %}

{% block body %}
	{% include 'MiamBundle:Default:header.html.twig' %}

	<div class="authentication">
		<div class="header">{{ "Log in"|trans }}</div>
		<div class="content">
			<form method="POST" action="{{ path('login_check') }}">
			    <label for="username">{{ "Username"|trans }}</label>
			    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ "Username"|trans }}">

			    <br>

			    <label for="password">{{ "Password"|trans }}</label>
			    <input type="password" id="password" name="_password" placeholder="{{ "Password"|trans }}">

			    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			    <br>

			    <button type="submit">{{ "Log in"|trans }}</button>
			</form>

			{% if error %}
			    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
		</div>
	</div>

	<div class="register">
		<div class="header">{{ "Register"|trans }}</div>
		<div class="content">
			<form method="POST" action="{{ path('register_check') }}">
				<label for="username">{{ "Choose a username:"|trans({}, 'log-in') }}</label>
				<input type="text" id="username" name="username" placeholder="{{ "Username"|trans }}">

				<br>

				<label for="password">{{ "Choose a password:"|trans({}, 'log-in') }}</label>
				<input type="password" id="password" name="password" placeholder="{{ "Password"|trans }}">

				<br>

				<label for="password_again">{{ "Retype the password:"|trans({}, 'log-in') }}</label>
				<input type="password" id="password_again" name="password_again" placeholder="{{ "Password (again)"|trans({}, 'log-in') }}">

				<input type="hidden" name="csrf_token" value="{{ csrf_token('register') }}">

				<br>

				<button type="submit">{{ "Register"|trans }}</button>
			</form>
		</div>
	</div>
{% endblock %}