{% extends 'MiamBundle::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
	<h1>Miam</h1>
	
	<div class="auth login">
		<div class="content">
			<form method="POST" action="{{ path('login_check') }}">
			    <label for="username">{{ "login.enter_username"|trans({}, 'login') }}</label>
			    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ "login.username"|trans({}, 'login') }}">

			    <br>

			    <label for="password">{{ "login.enter_password"|trans({}, 'login') }}</label>
			    <input type="password" id="password" name="_password" placeholder="{{ "login.password"|trans({}, 'login') }}">

			    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			    <br>

			    <button type="submit">{{ "login.login"|trans({}, 'login') }}</button>
			</form>
		</div>
		<div class="footer">
			<span class="noAccount">
				{{ "login.no_account"|trans({}, 'login') }}
			</span>
		</div>
	</div>

	<div class="auth register">
		<div class="content">
			<form method="POST" action="{{ path('register_check') }}">
				<label for="username">{{ "login.choose_username"|trans({}, 'login') }}</label>
				<input type="text" id="username" name="username" placeholder="{{ "login.username"|trans({}, 'login') }}">

				<br>

				<label for="password">{{ "login.choose_password"|trans({}, 'login') }}</label>
				<input type="password" id="password" name="password" placeholder="{{ "login.password"|trans({}, 'login') }}">

				<br>

				<label for="password_again">{{ "login.retype_password"|trans({}, 'login') }}</label>
				<input type="password" id="password_again" name="password_again" placeholder="{{ "login.password_again"|trans({}, 'login') }}">

				<input type="hidden" name="csrf_token" value="{{ csrf_token('register') }}">

				<br>

				<button type="submit">{{ "login.register"|trans({}, 'login') }}</button>
			</form>
		</div>
		<div class="footer">
			<span class="haveAccount">
				{{ "login.have_account"|trans({}, 'login') }}
			</span>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(document).ready(function() {
			$(".noAccount").on("click", function() {
				$(".auth.login").hide();
				$(".auth.register").show();
			});

			$(".haveAccount").on("click", function() {
				$(".auth.login").show();
				$(".auth.register").hide();
			});
		});
	</script>
{% endblock %}