{% extends 'MiamBundle::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/shit.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% macro rows(tree, unreadCounts) %}
	{% import _self as macros %}

	{% if tree.category is defined %}
		<div class="row" data-type="category" data-id="{{ tree.category.id }}">
			<span class="name">
				<span class="toggle">
					<i class="fa fa-caret-right closed"></i>
					<i class="fa fa-caret-down open"></i>
				</span>
				{{ tree.category.name }}
			</span>
			<span class="unreadCount"></span>
		</div>
	{% endif %}

	{% if tree.category is defined %}
		<div class="rowChildren" data-parent="{{ tree.category.id }}">
	{% endif %}

	{% for c in tree.categories %}
		{{ macros.rows(c, unreadCounts) }}
	{% endfor %}

	{% for s in tree.subscriptions %}
		<div class="row" data-type="subscription" data-id="{{ s.id }}" title="{{ s.name }}">
			<span class="name">
				<img class="icon" src="{{ asset(s.feed.icon) }}" alt="">
				{{ s.name ?: "[NO TITLE]" }}
			</span>
			<span class="unreadCount">{{ unreadCounts[s.id] is defined ? unreadCounts[s.id] : 0 }}</span>
		</div>
	{% endfor %}

	{% if tree.category is defined %}
		</div>
	{% endif %}
{% endmacro %}

{% macro options(tree, unreadCounts) %}
	{% import _self as macros %}

	{% if tree.category is defined %}
		<option data-type="category" data-id="{{ tree.category.id }}">
			{{ tree.category.path }}
		</option>
	{% endif %}

	{% for c in tree.categories %}
		{{ macros.options(c, unreadCounts) }}
	{% endfor %}

	{% for s in tree.subscriptions %}
		<option data-type="feed" data-id="{{ s.feed.id }}" data-parent="{{ tree.category is defined ? tree.category.id }}">
			{{ tree.category is defined ? s.path(tree.category) : s.name }}
		</option>
	{% endfor %}
{% endmacro %}

{% import _self as macros %}

{% block body %}
	{% embed 'MiamBundle:Default:header.html.twig' %}
		{% block preLink %}
			<span class="menu sidebar_toggle">
				<i class="fa fa-bars"></i>
			</span>
		{% endblock %}
	{% endembed %}

	<aside class="topbar {{ app.user and app.user.setting('HIDE_SIDEBAR') ? 'hidden' }}">
		<select class="catsubs">
			<option data-type="all">
				{{ "shit.sidebar.all"|trans({}, 'shit') }}
			</option>
			<option data-type="unread">
				{{ "shit.sidebar.unread"|trans({}, 'shit') }}
			</option>
			<option data-type="starred">
				{{ "shit.sidebar.starred"|trans({}, 'shit') }}
			</option>
			<option data-type="last-read">
				{{ "shit.sidebar.lastread"|trans({}, 'shit') }}
			</option>

			{{ macros.options(tree, unreadCounts) }}
		</select>
	</aside>

	<div class="itemsContainer">
		<aside class="sidebar {{ app.user and app.user.setting('HIDE_SIDEBAR') ? 'hidden' }}">
			<div class="row selected" data-type="all">
				<i class="fa fa-globe"></i>
				{{ "shit.sidebar.all"|trans({}, 'shit') }}
			</div>

			<div class="row" data-type="unread">
				<i class="fa fa-envelope"></i>
				{{ "shit.sidebar.unread"|trans({}, 'shit') }}
				<span class="unreadCount">0</span>
			</div>

			<div class="row" data-type="starred">
				<i class="fa fa-star"></i>
				{{ "shit.sidebar.starred"|trans({}, 'shit') }}
				<span class="count">{{ starredCount is defined ? starredCount : 0 }}</span>
			</div>

			<div class="row" data-type="last-read">
				<i class="fa fa-clock-o"></i>
				{{ "shit.sidebar.lastread"|trans({}, 'shit') }}
			</div>

			<div class="rowDelimiter"></div>

			{{ macros.rows(tree, unreadCounts) }}
		</aside>

		<main class="items">
			{% include 'MiamBundle:Default:item_list.html.twig' with {'itemOptions': itemOptions} %}
		</main>
	</div>

	<div class="itemContentContainer hidden">
		<div class="toggles">
			<div class="toggle toggle-hide" title="{{ "shit.itemcontent.hide"|trans({}, 'shit') }}">
				<i class="fa fa-minus"></i>
			</div>
			<div class="toggle toggle-expand" title="{{ "shit.itemcontent.expand"|trans({}, 'shit') }}">
				<i class="fa fa-plus"></i>
			</div>
		</div>
		<div class="itemContent"></div>
	</div>

	<div class="contextMenu sidebarRowMenu">
		<div class="option" data-action="read">
			{{ "shit.menu.mark_read"|trans({}, 'shit') }}
		</div>
	</div>

	<div class="contextMenu itemMenu">
		<div class="option" data-action="unread">
			{{ "shit.menu.mark_unread"|trans({}, 'shit') }}
		</div>
		<div class="option" data-action="read">
			{{ "shit.menu.mark_read"|trans({}, 'shit') }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/items.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/shit.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			app.items.init();
			app.shit.init();
		});
	</script>
{% endblock %}