{% extends 'MiamBundle::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	
	{% stylesheets "@MiamBundle/Resources/public/scss/shit.scss" filter='scss' output='css/shit.css' %}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet">
	{% endstylesheets %}
{% endblock %}

{% macro rows(tree, unreadCounts) %}
	{% import _self as macros %}

	{% if tree.category is defined %}
		<div class="row" data-type="category" data-id="{{ tree.category.id }}">
			<span class="name">
				<span class="toggle">
					<i class="fa fa-caret-right closed"></i>
					<i class="fa fa-caret-down open"></i>
				</span>
				{{ tree.category.name }}
			</span>
			<span class="unreadCount"></span>
		</div>
	{% endif %}

	{% if tree.category is defined %}
		<div class="rowChildren" data-parent="{{ tree.category.id }}">
	{% endif %}

	{% for c in tree.categories %}
		{{ macros.rows(c, unreadCounts) }}
	{% endfor %}

	{% for s in tree.subscriptions %}
		<div class="row" data-type="feed" data-id="{{ s.feed.id }}" title="{{ s.name }}">
			<span class="name">
				<img class="icon" src="{{ asset(s.feed.icon) }}" alt="">
				{{ s.name ?: "[NO TITLE]" }}
			</span>
			<span class="unreadCount">{{ unreadCounts[s.feed.id] is defined ? unreadCounts[s.feed.id] : 0 }}</span>
		</div>
	{% endfor %}

	{% if tree.category is defined %}
		</div>
	{% endif %}
{% endmacro %}

{% macro options(tree, unreadCounts) %}
	{% import _self as macros %}

	{% if tree.category is defined %}
		<option data-type="category" data-id="{{ tree.category.id }}">
			{{ tree.category.path }}
		</option>
	{% endif %}

	{% for c in tree.categories %}
		{{ macros.options(c, unreadCounts) }}
	{% endfor %}

	{% for s in tree.subscriptions %}
		<option data-type="feed" data-id="{{ s.feed.id }}" data-parent="{{ tree.category is defined ? tree.category.id }}">
			{{ tree.category is defined ? s.path(tree.category) : s.name }}
		</option>
	{% endfor %}
{% endmacro %}

{% import _self as macros %}

{% block bodyClasses %}
	{% if app.user and app.user.setting('HIDE_SIDEBAR') %}
		hide_sidebar
	{% endif %}
{% endblock %}

{% block body %}
	{% embed 'MiamBundle:Default:header.html.twig' %}
		{% block preLink %}
			<a href="#" class="sidebar_toggle">
				<i class="fa fa-bars"></i>
			</a>
		{% endblock %}
	{% endembed %}

	<aside class="topbar">
		<select class="catsubs">
			<option data-type="all">{{ "All articles"|trans({}, 'shit') }}</option>

			{% if app.user and app.user.id == subscriber.id %}
				<option data-type="unread">{{ "Unread"|trans({}, 'shit') }}</option>
				<option data-type="starred">{{ "Starred"|trans({}, 'shit') }}</option>
				<option data-type="read-recently">{{ "Read recently"|trans({}, 'shit') }}</option>
			{% endif %}

			{{ macros.options(tree, unreadCounts) }}
		</select>
	</aside>

	<div class="itemsContainer">
		<aside class="sidebar">
			<div class="row selected" data-type="all">
				<i class="fa fa-globe"></i>
				{{ "All articles"|trans({}, 'shit') }}
			</div>

			{% if app.user and app.user.id == subscriber.id %}
				<div class="row" data-type="unread">
					<i class="fa fa-envelope"></i>
					{{ "Unread"|trans({}, 'shit') }}
					<span class="unreadCount">0</span>
				</div>

				<div class="row" data-type="starred">
					<i class="fa fa-star"></i>
					{{ "Starred"|trans({}, 'shit') }}
					<span class="count">{{ starredCount is defined ? starredCount : 0 }}</span>
				</div>

				<div class="row" data-type="read-recently">
					<i class="fa fa-clock-o"></i>
					{{ "Read recently"|trans({}, 'shit') }}
				</div>
			{% endif %}

			{{ macros.rows(tree, unreadCounts) }}
		</aside>

		<main class="items">
			{% include 'MiamBundle:Default:items.html.twig' with {'itemOptions': itemOptions} %}
		</main>
	</div>

	<div class="contextMenu sidebarRowMenu">
		<div class="option" data-action="read">
			{{ "Mark as read"|trans({}, 'shit') }}
		</div>
	</div>

	<div class="contextMenu itemMenu">
		<div class="option" data-action="unread">
			{{ "Mark as unread"|trans({}, 'shit') }}
		</div>
		<div class="option" data-action="read">
			{{ "Mark as read"|trans({}, 'shit') }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/items.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/shit.js') }}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			app.shit.items.subscriber = {{ subscriber.id }};

			app.items.init();
			app.shit.init();
		});
	</script>
{% endblock %}