{% extends 'MiamBundle::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets "@MiamBundle/Resources/public/scss/shit.scss" filter='scss' output='css/home.css' %}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet">
	{% endstylesheets %}
{% endblock %}

{% macro rows(tree, unreadCounts) %}
	{% import _self as macros %}

	{% if tree.category is defined %}
		<div class="row" data-type="category" data-category="{{ tree.category.id }}">
			<span class="name">
				<span class="toggle">
					<i class="fa fa-caret-right closed"></i>
					<i class="fa fa-caret-down open"></i>
				</span>
				{{ tree.category.name }}
			</span>
			<span class="unreadCount"></span>
		</div>
	{% endif %}

	{% if tree.category is defined %}
		<div class="rowChildren" data-parent="{{ tree.category.id }}">
	{% endif %}

	{% for c in tree.categories %}
		{{ macros.rows(c, unreadCounts) }}
	{% endfor %}

	{% for s in tree.subscriptions %}
		<div class="row" data-type="feed" data-feed="{{ s.feed.id }}">
			<span class="name">
				{% if s.feed.hasIcon %}
					<img class="icon" src="{{ asset(s.feed.icon) }}" alt="">
				{% endif %}
				{{ s.name ?: "[NO TITLE]" }}
			</span>
			<span class="unreadCount">{{ unreadCounts[s.feed.id] is defined ? unreadCounts[s.feed.id] : 0 }}</span>
		</div>
	{% endfor %}

	{% if tree.category is defined %}
		</div>
	{% endif %}
{% endmacro %}

{% import _self as macros %}

{% block body %}
	<div class="body_shit">
		<aside class="sidebar">
			<div class="row selected" data-type="all">
				<i class="fa fa-globe"></i>
				All articles
			</div>

			{% if app.user and app.user.id == subscriber.id %}
				<div class="row" data-type="unread">
					<i class="fa fa-book"></i>
					Unread
					<span class="unreadCount">0</span>
				</div>

				<div class="row" data-type="starred">
					<i class="fa fa-star"></i>
					Starred
					<span class="count">{{ starredCount is defined ? starredCount : 0 }}</span>
				</div>
			{% endif %}

			{{ macros.rows(tree, unreadCounts) }}
		</aside>

		<div class="sidebar_toggle">
			<span class="hide"><i class="fa fa-angle-left"></i></span>
			<span class="show"><i class="fa fa-angle-right"></i></span>
		</div>

		{% include 'MiamBundle:Default:header.html.twig' %}

		<section>
			<main class="items">
				{% include 'MiamBundle:Default:items.html.twig' with {'loadMore': true} %}
			</main>
		</section>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts 
		"@MiamBundle/Resources/public/js/items.js" 
		"@MiamBundle/Resources/public/js/shit.js" 
	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script type="text/javascript">
		$(document).ready(function() {
			app.shit.items.subscriber = {{ subscriber.id }};

			app.items.init();
			app.shit.init();
		});
	</script>
{% endblock %}