{% import _self as macros %}
<?xml version="1.0" encoding="UTF-8"?>
<opml version="2.0">
	<head>
		<title>{{ title is defined ? title : "OPML" }}</title>
		<dateCreated>{{ "now"|date(constant('DATE_ATOM')) }}</dateCreated>
		{% if ownerName is defined %}
			<ownerName>{{ ownerName }}</ownerName>
		{% endif %}
	</head>
	<body>
		{% if what == "settings" %}
			{% for s, val in settings %}
				{{ macros.setting(s, val) }}
			{% endfor %}
		{% elseif what == "feeds" %}
			{% for f in feeds %}
				{{ macros.feed(f) }}
			{% endfor %}
		{% elseif what == "subscriptions" %}
			{% for s in subscriptions %}
				{{ macros.subscription(s) }}
			{% endfor %}
		{% elseif what == "catsubs" %}
			{% for c in categories if c.parent is null %}
				{{ macros.category(c, categories) }}
			{% endfor %}

			{% for s in subscriptions if not s.category %}
				{{ macros.subscription(s) }}
			{% endfor %}
		{% elseif what == "user" %}
			{% for c in categories if c.parent is null %}
				{{ macros.category(c, categories) }}
			{% endfor %}

			{% for s in subscriptions if not s.category %}
				{{ macros.subscription(s) }}
			{% endfor %}

			{% for s, val in settings %}
				{{ macros.setting(s, val) }}
			{% endfor %}
		{% endif %}
	</body>
</opml>

{% macro category(category, categories) %}
	{% import _self as macros %}

	<outline type="category" text="{{ category.name }}" title="{{ category.name }}">
		{% for c in categories if c.parent == category %}
			{{ macros.category(c) }}
		{% endfor %}
		{% for s in category.subscriptions %}
			{{ macros.subscription(s) }}
		{% endfor %}
	</outline>
{% endmacro %}

{% macro subscription(s) %}
	<outline type="rss" text="{{ s.name }}" title="{{ s.name }}" xmlUrl="{{ s.feed.url }}" />
{% endmacro %}

{% macro feed(f) %}
	<outline type="rss" text="{{ f.name }}" title="{{ f.name }}" xmlUrl="{{ f.url }}" />
{% endmacro %}

{% macro setting(name, value) %}
	<outline type="setting" name="{{ name }}" value="{{ value }}" />
{% endmacro %}

{# http://dev.opml.org/spec2.html #}