{% spaceless %}
	<header>
		{% if app.user %}
			<a href="{{ path('index') }}">
				<i class="fa fa-list"></i> Feeds
			</a>
		{% endif %}
		<a href="{{ path('catalog') }}">
			<i class="fa fa-list-alt"></i> Catalog
		</a>
		{% if app.user %}
			<a href="{{ path('manager') }}">
				<i class="fa fa-cog"></i> Manager
			</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('admin') }}">
					Admin
				</a>
			{% endif %}
		{% endif %}
		<span class="rightSide">
			{% if app.user %}
				<span class="user">
					{{ app.user.username }}
				</span>
				<a href="{{ path('logout') }}">
					<i class="fa fa-sign-out"></i>
				</a>
			{% elseif route != "login" %}
				<a class="showLogin" href="{{ path('login') }}">
					<i class="fa fa-sign-in"></i> Login
				</a>
				<a class="showRegister" href="{{ path('login') }}">
					<i class="fa fa-user-plus"></i> Register
				</a>
			{% endif %}
		</span>
	</header>
{% endspaceless %}