{% spaceless %}
	<header>
		{% block preLink %}{% endblock %}
		{% if app.user %}
			<a class="menu" href="{{ path('index') }}" title="{{ "header.feeds"|trans({}, 'header') }}">
				<i class="fa fa-list"></i>
				<span class="label">{{ "header.feeds"|trans({}, 'header') }}</span>
			</a>
		{% endif %}
		{% if app.user %}
			<a class="menu" href="{{ path('manager') }}" title="{{ "header.manager"|trans({}, 'header') }}">
				<i class="fa fa-cog"></i>
				<span class="label">{{ "header.manager"|trans({}, 'header') }}</span>
			</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a class="menu" href="{{ path('admin') }}" title="{{ "header.admin"|trans({}, 'header') }}">
					<i class="fa fa-lock"></i>
					<span class="label">{{ "header.admin"|trans({}, 'header') }}</span>
				</a>
			{% endif %}
		{% endif %}
		<span class="rightSide">
			{% if app.user %}
				<a class="menu" href="{{ path('logout') }}" title="{{ "header.logout"|trans({}, 'header') }}">
					<i class="fa fa-sign-out"></i>
					<span class="label">{{ "header.logout"|trans({}, 'header') }}</span>
				</a>
			{% else %}
				<a class="menu" href="{{ path('login') }}" title="{{ "header.login"|trans({}, 'header') }}">
					<i class="fa fa-sign-in"></i>
					<span class="label">{{ "header.login"|trans({}, 'header') }}</span>
				</a>
			{% endif %}
		</span>
	</header>
{% endspaceless %}