{% spaceless %}
	<header>
		{% block preLink %}{% endblock %}
		{% if app.user %}
			<a href="{{ path('index') }}" title="Feeds">
				<i class="fa fa-list"></i>
				<span class="label">Feeds</span>
			</a>
		{% endif %}
		<a href="{{ path('catalog') }}" title="Catalog">
			<i class="fa fa-book"></i>
			<span class="label">Catalog</span>
		</a>
		{% if app.user %}
			<a href="{{ path('manager') }}" title="Manager">
				<i class="fa fa-cog"></i>
				<span class="label">Manager</span>
			</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('admin') }}" title="Admin">
					<i class="fa fa-lock"></i>
					<span class="label">Admin</span>
				</a>
			{% endif %}
		{% endif %}
		<span class="rightSide">
			{% if app.user %}
				<a href="{{ path('logout') }}" title="Logout">
					<i class="fa fa-sign-out"></i>
					<span class="label">Logout</span>
				</a>
			{% elseif route != "login" %}
				<a class="showLogin" href="{{ path('login') }}" title="Login">
					<i class="fa fa-sign-in"></i>
					<span class="label">Login</span>
				</a>
				<a class="showRegister" href="{{ path('login') }}" title="Register">
					<i class="fa fa-user-plus"></i>
					<span class="label">Register</span>
				</a>
			{% endif %}
		</span>
	</header>
{% endspaceless %}