{% set markable = markable is defined and markable ? true : false %}
{% set loadMore = loadMore is defined and loadMore ? true : false %}

{% if items is defined and items|length > 0 %}
	{% for item in items %}
		{% set itemData = dataItems[item.id] is defined ? dataItems[item.id] : null %}
		<article class="item 
				{{ itemData and itemData.isRead ? 'read' }} 
				{{ itemData and itemData.isStarred ? 'starred' }}
				{{ app.user and app.user.setting('SHOW_ITEM_DETAILS') == "always" ? 'expandedDetails' }}"
			data-item="{{ item.id }}" 
			data-feed="{{ item.feed.id }}">
			<a class="header" href="{{ item.link }}" target="_blank">
				{% if itemData and itemData.feedName %}
					{% set feedName = itemData.feedName %}
				{% elseif item.feed.name %}
					{% set feedName = item.feed.name %}
				{% else %}
					{% set feedName = item.feed.url %}
				{% endif %}
				<span class="feed" title="{{ feedName }}">
					<span class="name">
						{{ feedName|shorten(60) }}
					</span>

					{% if item.feed.hasIcon %}
						<img class="icon" src="{{ asset(item.feed.icon) }}" alt="">
					{% endif %}
				</span>

				<span class="hide">-</span>

				{% if app.user and markable %}
					<span class="star">
						<i class="icon-empty fa fa-star-o"></i>
						<i class="icon-full fa fa-star"></i>
					</span>
				{% endif %}

				<span class="datetime" title="{{ item.datePublished|date('Y-m-d H:i:s') }}">
					{% if item.datePublished|date('Y-m-d') == "now"|date('Y-m-d') %}
						{{ item.datePublished|date('H:i') }}
					{% elseif item.datePublished|date('Y') == "now"|date('Y') %}
						{{ item.datePublished|date('m/d H:i') }}
					{% else %}
						{{ item.datePublished|date('y/m/d H:i') }}
					{% endif %}
				</span>

				<span class="title">
					{{ item.title }}
				</span>

				{% set summary = item.textContent|shorten(200) %}

				{% if summary %}
					<span class="summary">{{ summary }}</span>
				{% endif %}
			</a>

			<div class="content">
				{% if item.htmlContent %}
					{% if app.user and app.user.setting('SHOW_ITEM_PICTURES') == 'never' %}
						{{ item.htmlContent|removePictures }}
					{% elseif app.user and app.user.setting('SHOW_ITEM_PICTURES') == 'onclick' %}
						{{ item.htmlContent|clickForPictures }}
					{% else %}
						{{ item.htmlContent }}
					{% endif %}
				{% elseif item.textContent %}
					{{ item.textContent|nl2br }}
				{% else %}
					[No content]
				{% endif %}
			</div>

			{% if item.author or (itemData and (itemData.tags|length > 0 or itemData.enclosures|length > 0)) %}
				<div class="details">
					{% if item.author %}
						<div class="authors">
							Author: {{ item.author }}
						</div>
					{% endif %}

					{% if itemData.tags|length > 0 %}
						<div class="tags">
							Tag{{ itemData.tags|length > 1 ? "s" }}:
							{% for tag in itemData.tags %}
								{{ tag.name }}{{ loop.index < itemData.tags|length ? "," }}
							{% endfor %}
						</div>
					{% endif %}

					{% if itemData.enclosures|length > 0 %}
						<div class="enclosures">
							Enclosure{{ itemData.enclosures|length > 1 ? "s" }}:
							{% for enclosure in itemData.enclosures %}
								<a href="{{ enclosure.url }}" target="_blank">
									{{ enclosure.title ?: enclosure.url }}
								</a>
								{{ loop.index < itemData.enclosures|length ? "," }}
							{% endfor %}
						</div>
					{% endif %}
				</div>

				<span class="details_toggle">+</span>
			{% endif %}
		</article>
	{% endfor %}

	{% if loadMore %}
		<div class="loadMore">
			<i class="icon-more fa fa-angle-down"></i>
			<i class="icon-loading fa fa-spinner fa-spin"></i>
		</div>
	{% endif %}
{% endif %}