{% set itemOptions = itemOptions is defined ? itemOptions : [] %}

{% if items is defined and items|length > 0 %}
	{% for item in items %}
		{% set dataItem = dataItems[item.id] is defined ? dataItems[item.id] : null %}
		<article class="item 
				{{ dataItem and dataItem.isRead ? 'read' }} 
				{{ dataItem and dataItem.isStarred ? 'starred' }}
				{{ app.user and app.user.setting('SHOW_ITEM_DETAILS') == "always" ? 'expandedDetails' }}"
				{{ 'loadData' in itemOptions ? 'loaded' }}
			data-item="{{ item.id }}" 
			data-feed="{{ item.feed.id }}">
			<a class="header" href="{{ item.link }}" target="_blank">
				{% if 'hideFeed' not in itemOptions %}
					{% if dataItem and dataItem.feedName %}
						{% set feedName = dataItem.feedName %}
					{% elseif item.feed.name %}
						{% set feedName = item.feed.name %}
					{% else %}
						{% set feedName = item.feed.url %}
					{% endif %}
					<span class="feed" title="{{ feedName }}">
						<span class="name">
							{{ feedName|shorten(50) }}
						</span>

						{% if item.feed.hasIcon %}
							<img class="icon" src="{{ asset(item.feed.icon) }}" alt="">
						{% endif %}
					</span>
				{% endif %}

				<span class="hide">-</span>

				{% if app.user and 'markable' in itemOptions %}
					<span class="star">
						<i class="icon-empty fa fa-star-o"></i>
						<i class="icon-full fa fa-star"></i>
					</span>
				{% endif %}

				<span class="datetime" title="{{ item.datePublished|date('Y-m-d H:i:s') }}">
					{% if item.datePublished|date('Y-m-d') == "now"|date('Y-m-d') %}
						{{ item.datePublished|date('H:i') }}
					{% elseif item.datePublished|date('Y') == "now"|date('Y') %}
						{{ item.datePublished|date('m/d H:i') }}
					{% else %}
						{{ item.datePublished|date('y/m/d H:i') }}
					{% endif %}
				</span>

				<span class="title">
					{{ item.title }}
				</span>

				{% set summary = item.textContent|shorten(300) %}

				{% if summary %}
					<span class="summary">{{ summary }}</span>
				{% endif %}
			</a>

			{% if 'loadData' in itemOptions %}
				{% include 'MiamBundle:Default:item_data.html.twig' %}
			{% else %}
				<div class="loading">
					<i class="fa fa-spinner fa-spin"></i>
				</div>
			{% endif %}
		</article>
	{% endfor %}

	{% if 'loadMore' in itemOptions %}
		<div class="loadMore">
			<i class="icon-more fa fa-angle-down"></i>
			<i class="icon-loading fa fa-spinner fa-spin"></i>
		</div>
	{% endif %}
{% endif %}