{% set dataItem = dataItem is defined ? dataItem : null %}

{% if item is defined %}
	<div class="content">
		{% if item.htmlContent %}
			{% if app.user and app.user.setting('SHOW_ITEM_PICTURES') == 'never' %}
				{{ item.htmlContent|removePictures }}
			{% elseif app.user and app.user.setting('SHOW_ITEM_PICTURES') == 'onclick' %}
				{{ item.htmlContent|clickForPictures }}
			{% else %}
				{{ item.htmlContent|raw }}
			{% endif %}
		{% elseif item.textContent %}
			{{ item.textContent|nl2br }}
		{% else %}
			[No content]
		{% endif %}
	</div>

	{% if item.author or item.contributor or (dataItem and (dataItem.tags|length > 0 or dataItem.enclosures|length > 0)) %}
		<div class="details">
			{% if item.author %}
				<div class="authors">
					{{ "Author:"|trans({}, 'item') }} {{ item.author }}
				</div>
			{% endif %}

			{% if item.contributor %}
				<div class="contributors">
					{{ "Contributor:"|trans({}, 'item') }} {{ item.contributor }}
				</div>
			{% endif %}

			{% if dataItem.tags|length > 0 %}
				<div class="tags">
					{% if dataItem.tags|length > 1 %}
						{{ "Tags:"|trans({}, 'item') }}
					{% else %}
						{{ "Tag:"|trans({}, 'item') }}
					{% endif %}
					{% for tag in dataItem.tags %}
						{{ tag.name }}{{ loop.index < dataItem.tags|length ? "," }}
					{% endfor %}
				</div>
			{% endif %}

			{% if dataItem.enclosures|length > 0 %}
				<div class="enclosures">
					{% if dataItem.enclosures|length > 1 %}
						{{ "Enclosures:"|trans({}, 'item') }}
					{% else %}
						{{ "Enclosure:"|trans({}, 'item') }}
					{% endif %}
					{% for enclosure in dataItem.enclosures %}
						{% if dataItem.enclosures|length > 1 %}
							<br>
						{% endif %}
						<a href="{{ enclosure.url }}" target="_blank">
							{{ enclosure.title ?: enclosure.url }}
						</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>

		<span class="details_toggle">+</span>
	{% endif %}
{% endif %}