{% extends 'MiamBundle:Catalog:base.html.twig' %}

{% block content %}
	<h1>Catalog - Feeds</h1>

	<p><a href="{{ path('catalog_items') }}">Show items</a></p>

	<div class="feeds">
		{% for feed in feeds %}
			<a class="feed {% if feed.id in subscribedFeedIds %}subscribed{% endif %}" href="{{ path('catalog_feed', {'id': feed.id}) }}" title="{{ feed.name ? feed.name ~ " - " ~ feed.url : feed.url }}" data-feed="{{ feed.id }}">
				{% if app.user %}
					<span class="subscribe" title="Subscribe / Unsubscribe">
						<i class="fa fa-rss"></i>
					</span>
				{% endif %}
				<span class="name">
					{% if feed.hasIcon %}
						<img src="{{ asset(feed.icon) }}" alt="">
					{% endif %}
					{{ feed.name ? feed.name : "[NO NAME]" }}
				</span>
			</a>
		{% endfor %}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% if app.user %}
		<script type="text/javascript">
			$(".feed .subscribe").on('click', function(e) {
				e.preventDefault();

				var feedId = $(this).closest('.feed').data('feed');
				
				if($(".feed[data-feed="+feedId+"]").hasClass('subscribed')) {
					$.ajax({
						type: "POST",
						url: Routing.generate('ajax_catalog_feed_unsubscribe', {id: feedId}, true),
						dataType: "json",
						success: function(result) {
							if(result.success) {
								$(".feed[data-feed="+feedId+"]").removeClass("subscribed");
							}
						}
					});
				} else {
					$.ajax({
						type: "POST",
						url: Routing.generate('ajax_catalog_feed_subscribe', {id: feedId}, true),
						dataType: "json",
						success: function(result) {
							if(result.success) {
								$(".feed[data-feed="+feedId+"]").addClass("subscribed");
							}
						}
					});
				}
			});
		</script>
	{% endif %}
{% endblock %}