{% extends 'MiamBundle:Catalog:base.html.twig' %}

{% block content %}
	{% spaceless %}
		<div class="feeds">
			{% for feed in feeds %}
				<div class="feed {% if feed.id in subscribedFeedIds %}subscribed{% endif %}" data-feed="{{ feed.id }}">
					<span class="name" title="{{ feed.name ? feed.name ~ " - " ~ feed.url : feed.url }}">
						{{ feed.name ? feed.name|shorten(30) : "[NO NAME]" }}
					</span>
					<span class="options">
						<span class="subscribe" title="Subscribe / Unsubscribe">
							<i class="fa fa-rss"></i>
						</span>
						<a class="url" href="{{ feed.url }}" target="_blank" title="Source">
							<i class="fa fa-code"></i>
						</a>
						<a class="website" href="{{ feed.website ?: feed.url }}" target="_blank" title="Website">
							<i class="fa fa-globe"></i>
						</a>
					</span>
				</div>
			{% endfor %}
		</div>
	{% endspaceless %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% if app.user %}
		<script type="text/javascript">
			$(".feed .subscribe").on('click', function() {
				var feedId = $(this).closest('.feed').data('feed');
				
				if($(".feed[data-feed="+feedId+"]").hasClass('subscribed')) {
					$.ajax({
						type: "POST",
						url: Routing.generate('ajax_catalog_feed_unsubscribe', {id: feedId}, true),
						dataType: "json",
						success: function(result) {
							if(result.success) {
								$(".feed[data-feed="+feedId+"]").removeClass("subscribed");
							}
						}
					});
				} else {
					$.ajax({
						type: "POST",
						url: Routing.generate('ajax_catalog_feed_subscribe', {id: feedId}, true),
						dataType: "json",
						success: function(result) {
							if(result.success) {
								$(".feed[data-feed="+feedId+"]").addClass("subscribed");
							}
						}
					});
				}
			});
		</script>
	{% endif %}
{% endblock %}